@font-face {
    font-family: 'Graphik LC TT';
    src: url('../fonts/graphiklcweb_medium-webfont.woff2') format('woff2'),
         url('../fonts/graphiklcweb_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
}

.head {
    background: #FFFFFF;    
}

.flex {
    display: flex;    
}

.h-flex {    
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1290px;
    margin: 0 auto;
}

.logo {
    flex-grow: 1;
    text-align: center;
}

.head-nav {
    flex-grow: 2;
}

.head-enter {
    flex-grow: 1;
    box-sizing: border-box;
}

.head-nav .nav-menu a {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    margin-right: 57px;
}

.head-nav .nav-menu a:hover {
    text-decoration: underline;
}

/*button*/

.btn {    
    border-radius: 0px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;        
    cursor: pointer;
    
         
}

.btn.btn-login {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.5); 
    min-width: 120px;
    line-height: 45px;          
}

.btn-login:hover {
    background-color: #FF6336;
}

.btn.btn-try {
    background-color: #FF6336;
    color:#FFFFFF;
    border: none;
    min-width: 120px;
    line-height: 45px; 
}

.btn-try:hover {
    background-color: #fd7c58;
}

.btn.btn-try_main {
    background-color: #FF6336;
    color:#FFFFFF;
    border: none;
    line-height: 60px;
    min-width: 160px;
}

.btn.btn-try_main:hover {
    background-color: #f87855;
}

.btn.btn-book {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    line-height: 60px;
    min-width: 160px;
}

.btn.btn-book:hover {
    background-color: #FF6336;
}

/*main*/

.flex-m {
    flex-direction: column;
        
}

.main-img {
    background-image: url('../image/img-main.jpg');
    color: #FFFFFF;    
    background-repeat: no-repeat;
    min-height: 529px;
    background-position: 81%;
    margin-top: 151px;
}

.text-h1 p {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;   
    color: #000000;
    max-width: 552px;
    margin-top: -22px;
}

.writing {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;   
    color: #000000;
    max-width: 471px;
    margin-top: 51px;
    margin-bottom: 51px;
    
}

.btn-change p {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    margin-top: 24px;
}

/*logo company*/


.logo-company {
    background-color: #FF9C7D;
    margin-top: 181px;      
}

.h2-company {
    max-width: 720px;
    padding-left: 360px;
    padding-top:108px;
    
}

.logo-img {
    justify-content: space-between;
    padding-bottom: 104px;
}
.size50 p {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;   
}

.size50.company p {
    text-align: center;
    padding: 108px 230px 82px 360px;    
}





/*Control the localization process*/

.flex-control {
    flex-direction: column;
}

.block-control {    
    color: #FFFFFF;    
    margin-top: 90px;
}

.size50.text-control p {
    padding-right: 165px;
    padding-top: 151px;
}

.size20 p {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;    
    color: #000000;
}

.text-control_block .size20.description p {
    margin-right: 165px;
}
.size20.description p {
    margin-top: 30px;   
}

.start-now {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;    
    margin-top: 30px;
    padding-bottom: 109px;
    
}

.start-now a {
    text-decoration: none;
    color: #000000;
}

.start-now a:hover {
    text-decoration: underline;
}

/*Shorten time to market*/

.block-shorten {    
    color: #FFFFFF;
    margin-top: 250px;    
}

.text-shorten_block {
    margin-left: 138px;
    margin-top: 151px;
}

.text-shorten_block .size20.description p {
    padding-right: 70px;
}

.size50.text-shorten p{
    max-width: 379px;
}

/*Ensure quality*/

.block-ensure {
    margin-top: 250px;
}

.text-ensure_block {
    margin-top: 161px;
    
}

.text-ensure_block .size20.description p {
    padding-right: 135px;
    
}

/*Less work for developers*/

.block-less_work {
    margin-top: 250px;
}

.text-less_work_block {
    margin-top: 123px;
    margin-left: 138px;
}

.text-less_work_block .size20.description p {
    padding-right: 0;
}

/*block cards*/

.flex-cards {
    flex-wrap: wrap;
    justify-content: space-around; 
}

.block-cards {
    margin-top: 150px;
    background-color: #FFF8E4;
    padding-top: 120px;
    padding-bottom: 147px;    
}

.cards {
    margin-bottom: 51px;
}

.h-cards {    
    justify-content: center;
    margin-bottom: 58px;
    flex-grow: 1;
}

.h-cards p {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;    
    text-align: center;
    color: #000000;
}

.cards-img {
    margin-top: 21px;
    text-align: center;
}
.cards-h3 {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px; 
    text-align: center;
    color: #000000;
    margin-top: 26px;
}

.cards-text {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;    
    text-align: center;
    color: #000000;
    max-width: 330px;
    margin-top: 20px;
    
}

/*Boost your localization team’s productivity tenfold*/

.flex-boots {      
    justify-content: space-between
}

.boots-cards {
    flex: 0 0 33%;    
    
}

.boots-img{
    min-height: 300px;
    display: flex;
    align-items: center;
    
}

.boots-h2 {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;    
    color: #000000;
    margin-bottom: 25px;
}

.boots-cards_text {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;    
    color: #000000;
    max-width: 409px;
    margin-bottom: 25px;    
}

.boots-cards_h3 {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;   
    color: #000000;
    margin-bottom: 34px;
}

.lern-boots { 
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

/*quote*/

.quote-block {
    background: #C9E8F2;
    margin-top: 187px;
}

.quote {
    flex-grow: 2; 
}

.autor-foto {
    flex-grow: 1;
    padding-top: 53px;
    padding-bottom: 105px;
}

.quote-text p {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;   
    color: #000000;
    flex-grow: 2;
    padding-right: 94px;
    padding-top: 63px;
}

.quote-autor p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;    
    color: #000000;
    padding-top: 23px;
    padding-bottom: 13px;
}


/*advert*/

.flex-adv {
    display: flex;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 88px;
    justify-content: space-around;
}

.advertising-block {
    background: #DABC98;
}

.img-cake img {
    margin-left: -21px;
}

.adv-text {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;   
    color: #000000;
    padding-left: 67px;
    border-right: #000000 2px solid;
    /*box-shadow: inset -1px 0 0 black;*/       
    flex: 0 0 42%;
    margin-right: 70px;
    padding-top: 22px;
    padding-bottom: 22px;
}

.img_adv {
    flex: 1 0 15%;    
}

/*integrate*/

.integrate-flex {
    flex-direction: column;
    align-items: center;
    margin: 165px 133px 165px 133px;
}

.integrate-h2 {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;    
    color: #000000;   
    padding-left: 117px;
    padding-right: 117px;
    text-align: center;
}

.integrate-text {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;    
    text-align: center;
    color: #000000;
    padding-left: 243px;
    padding-right:243px;
    margin-top: 4px;
}

.integrate-img {
    margin-top: 25px;
}

.btn-intagrate {    
    background: #FF6336;
    border-radius: 0px;
    font-size: 16px;
    line-height: 60px;    
    text-align: center;
    color: #FFFFFF;
    border: none;
    min-width: 193px;
    margin-top: 25px;    
}


/*easy*/

.easy-flex {
    flex-direction: column;
    align-items: center;
}

.easy-block {
    background: #FF9C7D;
}

.easy-h2 {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    color: #000000;
    padding: 110px 253px 0px 253px;
}

.easy-text {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;    
    text-align: center;
    color: #000000;
    margin-top: 29px;
}

.btn-easy {
    background: #000000;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;    
    text-align: center;
    color: #FFFFFF;
    border-radius: 0px;
    min-width: 160px;
    margin-top: 54px;
    margin-bottom: 161px;
}

.btn-easy:hover {
    background: #535353;
}

/*footer*/

.block-case {
    justify-content: space-between;
}

.case-col {
    flex-direction: column;
    flex: 0 0 30%;
}

.all-coll2 {
    flex: 0 0 58%;
    
}

.case-content {
    margin-top: 97px;
}

.case-img {
    border: 1px solid #000000;
    border-radius: 0px;
}

.case-logo {
    margin-top: 31px;
}

.case-h2 {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;   
    color: #000000;
    margin-bottom: 28px ;
}

.case-text {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;    
    color: #000000;
    margin-top: 11px;
    padding-right: 80px;
}


.case-read {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;    
    color: #000000;
    margin-top: 15px;
}

.case-read a {
    text-decoration: none;
    color: #000000;
}

.case-read a:hover {
    text-decoration: underline;
}

.case-col2 {
    flex: 1 0 25%;
}

.case-col2 p {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;  
    color: #000000;
    margin-bottom: 21px;
}

.case-col2 ul li {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;   
    margin-bottom: 15px;    
}

.case-col2 ul li a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.case-col2 ul li a:hover {
    text-decoration: underline;
}

.divider {
    border-top: 3px solid black;
    margin-top: 95px;
}

.info-block {
    margin-top: 47px;
    margin-bottom: 43px;
    justify-content: space-between;
}

.name-text p {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;   
    color: #000000;
    margin-left: 14px;
}

.info-name {
    flex: 0 0 30%;
}

.rights {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;   
    color: #000000;
    flex: 0 0 10%;
}