@font-face {
    font-family: 'Graphik LC TT';
    src: url('../fonts/graphiklcweb_medium-webfont.woff2') format('woff2'),
         url('../fonts/graphiklcweb_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    max-width: 1440px;
    box-sizing: border-box;
}

.head {
    background: #FFFFFF;
    height: 95px;
    
}

.flex {
    display: flex;    
}

.h-flex {    
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1290px;
    margin: 0 auto;
}

.logo {
    flex-grow: 1;
    text-align: center;
}

.head-nav {
    flex-grow: 2;
}

.head-enter {
    flex-grow: 1;
    box-sizing: border-box;
}

.head-nav .nav-menu a {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    margin-right: 57px;
}

.head-nav .nav-menu a:hover {
    text-decoration: underline;
}

/*button*/

.btn {    
    border-radius: 0px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;        
    cursor: pointer;
    
         
}

.btn.btn-login {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.5); 
    min-width: 120px;
    line-height: 45px;          
}

.btn-login:hover {
    background-color: #FF6336;
}

.btn.btn-try {
    background-color: #FF6336;
    color:#FFFFFF;
    border: none;
    min-width: 120px;
    line-height: 45px; 
}

.btn-try:hover {
    background-color: #fd7c58;
}

.btn.btn-try_main {
    background-color: #FF6336;
    color:#FFFFFF;
    border: none;
    line-height: 60px;
    min-width: 160px;
}

.btn.btn-try_main:hover {
    background-color: #f87855;
}

.btn.btn-book {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    line-height: 60px;
    min-width: 160px;
}

.btn.btn-book:hover {
    background-color: #FF6336;
}

/*main*/

.flex-m {
    flex-direction: column;
        
}

.main-img {
    background-image: url('../image/img-main.jpg');
    color: #FFFFFF;    
    background-repeat: no-repeat;
    min-height: 529px;
    background-position: 81%;
    margin-top: 151px;
}

.text-h1 p {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;   
    color: #000000;
    max-width: 552px;
    margin-top: -22px;
}

.writing {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;   
    color: #000000;
    max-width: 471px;
    margin-top: 51px;
    margin-bottom: 51px;
    
}

.btn-change p {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    margin-top: 24px;
}

/*logo company*/


.logo-company {
    background-color: #FF9C7D;
    margin-top: 181px;      
}

.h2-company {
    max-width: 720px;
    padding-left: 360px;
    padding-top:108px;
    
}

.logo-img {
    justify-content: space-between;
    margin-top: 82px;
    padding-bottom: 104px;
}
.size50 p {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;   
}

.size50.company p {
    text-align: center;
    max-width: 720px;
    padding-left: 360px;
    padding-top:108px;
}



/*Control the localization process*/

.flex-control {
    flex-direction: column;
}

.block-control {
    background-image: url('../image/ProjectApp.jpg');
    color: #FFFFFF;    
    background-repeat: no-repeat;   
    background-position: 91% 0%;
    margin-top: 90px;
}

.size50.text-control p {
    max-width: 493px;
    padding-top: 151px;
}

.size20 p {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;    
    color: #000000;
}

.size20.description p {
    max-width: 491px;
    margin-top: 30px;
}

.start-now {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;    
    margin-top: 30px;
    padding-bottom: 109px;
    
}

.start-now a {
    text-decoration: none;
    color: #000000;
}

.start-now a:hover {
    text-decoration: underline;
}

/*Shorten time to market*/

.block-shorten {    
    color: #FFFFFF;
    margin-top: 250px;    
}

.text-shorten_block {
    margin-left: 138px;
    margin-top: 151px;
}

.size50.text-shorten p{
    max-width: 379px;
}

.size20.description p {
    max-width: 450px;
}








